    {{> header }}

    {{> navbar }}


    <div class="row">
        <div class="col-8">
            <h1>TEXTO DE PORTADA</h1>
        </div>
    </div>

    <div class="col-4">
        <img src="/assets/img/logo.jpg" width="400" class="img-thumbnail" alt="foto">
    </div>


    {{> footer}}